<main
  class="container"
  hx-get="states"
  hx-swap="outerHTML"
  hx-trigger="load delay:{{.Timeout}}s"
  style="
    align-content: center;
    display: grid;
    height: 100%;
    justify-content: center;
  "
>
  <div class="overflow-auto">
    <table class="striped">
      <tbody>
        {{range .States}}
        <tr>
          <th scope="row">{{.Attributes.FriendlyName}}</th>
          <td>{{.State}} {{.Attributes.UnitOfMeasurement}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  <progress value="1" max="1"></progress>
  <script>
    (() => {
      let progress = document.getElementsByTagName("progress")[0];
      let seconds = {{.Timeout}};
      progress.setAttribute("value", seconds);
      progress.setAttribute("max", seconds);
      setTimeout(function subtract() {
        if (seconds == 0) {
          progress.removeAttribute("value");
          return;
        }

        seconds--;
        progress.setAttribute("value", seconds);
        setTimeout(subtract, 1000);
      }, 1000);
    })();
  </script>
</main>
